<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<% include partials/templates/header.ejs %>
<% include partials/templates/nav.ejs %>

<section class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3><span class="label label-default">All Books</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" role="group" id="showBooks">
                <button type="button" class="btn btn-default" data-type="my" data-user="<%= Parse.User.current().get('username') %>">Show My Books</button>
                <button type="button" class="btn btn-default" data-type="all">Show All Books</button>
                <button type="button" class="btn btn-default" data-type="clear">Clear List</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <ul id="booksList" class="list-group books-list">

            </ul>
        </div>
    </div>
</section>

<% include partials/templates/footer.ejs %>

<script type="text/javascript">
    var $showBtns = $("#showBooks button"),
        $listOfBooks = $("#booksList");

    function createListItem (text) {
        var li = document.createElement("li"),
            content = document.createTextNode(text);
        li.appendChild(content);
        li.className = 'list-group-item';

        return li;
    }

    $showBtns.on("click", function (e) {
        var target = e.currentTarget,
            type = target.dataset.type,
            user = target.dataset.user || null,
            i;
        //console.log("#user: " + user);
        if (type == "clear"){
            $listOfBooks.empty();
            return false;
        }

        Parse.Cloud.run('showMyBooks', {
                books: type,
                user: user
            }, {
            success: function(resp) {
                console.log(resp);
                $listOfBooks.empty();
                for (i = 0; resp[i]; i++){
                    $listOfBooks.append(createListItem(resp[i]));
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>

</body>
</html>