<!DOCTYPE html>
<html>
<head><% include partials/templates/head.ejs %></head>
<body>
<% include partials/templates/header.ejs %>
<% include partials/templates/nav.ejs %>
<section class="container">
    <div class="row">
        <h4>My Books:</h4>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>There Is <%= books.length %> Items</p>
            <div id="booksList" class="list-group books-list">
                <% if (books.length) { %>
                <% for(var i = 0; books[i]; i++) { %>
                <a href="list/details" class="list-group-item"><%= books[i].get("title") %></a>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <form action="/saveNewBook" method="post">
        <div class="form-group">
            <label for="title">New Book</label>
            <input id="title" class="form-control" type="text" name="title" placeholder="Title"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add Book</button>
        </div>
    </form>

</section>
<% include partials/templates/scripts.ejs %>
</body>
</html>
