<title><%= title %></title>

<link rel='stylesheet' href='/css/main.css' />

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>