<title><%= title %></title>

<link rel='stylesheet' href='/css/main.css' />

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript" src="/lib/parse.js"></script>

<script>
    Parse.initialize("yCCMB1KnjjbAY7WeORqyN2F7Lb8thMvTxKWEXpHe", "bVWLWGXufyGpz8OYODYs5Am0m89UWrNrJZ6oASO5");
</script>
<!--libs-->
<script type="text/javascript" src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
